@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: navajowhite;
}

#home_background {
    background-color: navajowhite;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#center_div {
    background-color: #424242;
    width: 350px;
    height: 480px;
}

#center_div hr {
    width: 84%;
    margin: auto;
}

#center_div div:first-child {
    width: 100%;
    height: 20%;
}

#center_div > div:nth-child(1) > p {
    font-family: 'Yellowtail', cursive;
    font-size: 38px;
    text-align: center;
    width: max-content;
    height: max-content;
    margin: auto;
    padding-top: 27px;
    color: floralwhite;
}

#center_div div:last-child {
    width: 60%;
    height: 80%;
    margin: auto;
}

#center_div > div:nth-child(3) > ul {
    list-style: none;
    text-align: center;
    padding-top: 18px;
}

#center_div > div:nth-child(3) > ul li {
    padding: 23px;
}

#center_div > div:nth-child(3) > ul li a {
    text-decoration: none;
    color: white;
    font-family: monospace, "Arial", sans-serif;
    font-size: large;
}

#center_div > div:nth-child(3) > ul > li:nth-child(1) > a:hover {
    color: hotpink;
}

#center_div > div:nth-child(3) > ul > li:nth-child(2) > a:hover {
    color: #ffff35;
}

#center_div > div:nth-child(3) > ul > li:nth-child(3) > a:hover {
    color: cornflowerblue;
}

#center_div > div:nth-child(3) > ul > li:nth-child(4) > a:hover {
    color: springgreen;
}

#center_div > div:nth-child(3) > ul > li:nth-child(5) > a:hover {
    color: orangered;
}
